.jumbotron p {
	margin-top: 2em;
	margin-bottom: 2em;
}

.head {
	padding: 1em 0.5em 1em 2em;
	background: #e3e3e3;
}

.head h1 {
	
}

.head li {
	display: inline;
	background: red;
}

.foot p{
	margin: 0px;
}