* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
$pri-hdr-bg-clr:	
$sec-hdr-bg-clr:
$ter-hdr-bg-clr:
$pri-bdy-bg-clr:
$sec-bdy-bg-clr:
$ter-bdy-bg-clr:
$pri-ftr-bg-clr:
$sec-ftr-bg-clr:
$ter-ftr-bg-clr:
*/
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 24px; }
