<div class="icon-bar five-up">
	<a class="item" ng-class="{active: menu.is(0)}" href ng-click="menu.select(0)">
		<img src="/img/server.png">
		<label>System</label>
	</a>
	<a class="item" ng-class="{active: menu.is(1)}" href ng-click="menu.select(1)">
		<img src="/img/console.png">
		<label>Process</label>
	</a>
	<a class="item" ng-class="{active: menu.is(2)}" href ng-click="menu.select(2)">
		<img src="/img/hierarchical.png">
		<label>Proxy</label>
	</a>
	<a class="item" ng-class="{active: menu.is(3)}" href ng-click="menu.select(3)">
		<img src="/img/view.png">
		<label>Logs</label>
	</a>
	<a class="item" ng-class="{active: button.is()}" href ng-click="button.toggle()">
		<img src="/img/line.png">
		<label>Graphs</label>
	</a>
</div>
