<div class="icon-bar five-up">
	<a class="item" ng-class="{active: is(0)}" ng-click="set(0)">
		<img src="/img/server.png">
		<label>System</label>
	</a>
	<a class="item" ng-class="{active: is(1)}" ng-click="set(1)">
		<img src="/img/console.png">
		<label>Process</label>
	</a>
	<a class="item" ng-class="{active: is(2)}" ng-click="set(2)">
		<img src="/img/hierarchical.png">
		<label>Proxy</label>
	</a>
	<a class="item" ng-class="{active: is(3)}" ng-click="set(3)">
		<img src="/img/gears.png">
		<label>Config</label>
	</a>
	<a class="item" ng-class="{active: is(4)}" ng-click="set(4)">
		<img src="/img/view.png">
		<label>Logs</label>
	</a>
</div>
